.banner2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    // width: 100%;
    position: relative;

    h1 {
        position: absolute;
        left: 70px;
        top: 30px;
        font-weight: 400;
    }

    .cards {
        display: flex;
        align-items: center;
        justify-content: center;


        .card {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            // border: 2px solid red;
            border-bottom: 1px solid rgba(100, 100, 100, 0.303);
            margin: 20px;
            padding-bottom: 7px;



            h3 {
                font-size: 17px;
            }

            p {
                font-size: 16px;
                color: gray;
                margin-top: 3px;
            }

            span {
                color: #252525;
                margin-top: 17px;
                transform: translateX(215px);
                font-size: 18px;
            }

            .colors {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                transform: translateX(77px) translateY(80px);
                opacity: 0;
                transition: 0.5s;

                span {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    transform: translateX(0px);
                    margin: 6px;
                    transition: 0.3s;
                    outline: 2px solid rgba(128, 128, 128, 0);
                    // padding: 5px;
                }

                .red {
                    background-color: red;
                    cursor: pointer;
                }

                .black {
                    background-color: #000;
                    cursor: pointer;
                }

                .green {
                    background-color: green;
                    cursor: pointer;
                }

                .blue {
                    background-color: blue;
                    cursor: pointer;
                }
            }

            .red:hover {

                outline: 2px solid rgb(0, 149, 255);
            }

            .blue:hover {

                outline: 2px solid rgb(0, 149, 255);
            }

            .green:hover {

                outline: 2px solid rgb(0, 149, 255);
            }

            .black:hover {

                outline: 2px solid rgb(0, 149, 255);
            }
        }

        .card:hover .colors {
            transform: translateY(50px) translateX(77px);
            opacity: 1;
        }
    }


}

.rasmlar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    .rasm1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 600px;
        width: 100%;
        overflow: hidden;
        background-image: url(../../Images/bose1.jpg);
        background-size: cover;
        background-position: center;

        .text_rasm1 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transform: translateX(-400px);


            h1 {
                font-size: 40px;
                color: #181818;
            }

            p {
                font-weight: 600;
                color: #181818;
                margin-top: 10px;
            }

            .b1 {
                border: 2px solid #252525;
                width: 150px;
                height: 40px;
                margin-top: 20px;
                background-color: rgba(127, 255, 212, 0);
                color: #fff;
            }

            .btn {
                width: 200px;
                height: 35px;
                border-radius: 15px;
                border: none;
                background-color: #212121;
                color: #fff;
                margin-top: 20px;
            }
        }
    }

    .rasm2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 600px;
        width: 100%;
        overflow: hidden;
        background-image: url(../../Images/bose2.webp);
        background-size: cover;
        background-position: center;


        .text_rasm2 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transform: translateX(300px);

            h1 {
                font-size: 40px;
                // color: rgb(218, 218, 218);
                color: rgb(0, 158, 158);
            }

            p {
                font-weight: 600;
                color: #181818;
                margin-top: 10px;
            }

            .b2 {
                border: 2px solid #252525;
                width: 150px;
                height: 40px;
                margin-top: 20px;
                border-radius: 15px;
                color: #fff;
                background-color: rgba(0, 0, 0, 0);
            }

            .btn2 {
                width: 200px;
                height: 35px;
                border-radius: 15px;
                border: none;
                background-color: #fff;

                color: #000;
                margin-top: 20px;

            }
        }


    }

    .rasm3 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 600px;
        width: 100%;
        overflow: hidden;
        background-image: url(../../Images/bose3.jpg);
        background-size: cover;
        background-position: center;

        .text_rasm3 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transform: translateX(-300px);

            h1 {
                font-size: 40px;
                // color: rgb(218, 218, 218);
                color: #fff;
            }

            p {
                font-weight: 600;
                color: #181818;
                margin-top: 10px;
                color: #fff;
            }

            .b3 {
                border: 2px solid #252525;
                width: 150px;
                height: 40px;
                margin-top: 20px;
                border-radius: 15px;
                color: #fff;
                background-color: rgba(0, 0, 0, 0);
            }

            .btn3 {
                width: 200px;
                height: 35px;
                border-radius: 15px;
                border: none;
                background-color: #fff;

                color: #000;
                margin-top: 20px;

            }
        }
    }
}